*{
  margin: 0;
  padding: 0;
}
:root{
  background-color:#121212;
  color: rgba(255, 255, 255, 0.87);
}

body{
  color: rgba(255, 255, 255, 0.60);
}

p{
  color: rgba(255, 255, 255, 0.38);
}

h5{
  font-size: 24px;
  align-self: center;
}

h6{
  font-size: 20px;
}

.select{
  background-color: #121212;
  border: 1px;
  border-color: rgba(255, 255, 2555, 0.09);
  color: rgba(255, 255, 255, 0.60);
}

.selected{
  background-color: black;
  color: rgba(255, 255, 255, 0.38);
  border-radius: 20px;
}
/* .selected:hover{
  border: 1px solid transparent;
  border-color: #646cff;
  cursor: pointer;
  background-color: black;
  transition: border-color 0.25s;
} */
.page{
  display: flex;
  justify-content: space-evenly;
}
.content{
  color: rgba(255, 255, 255, 0.60);
  display: flex;
  min-width: 1000px;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}
.drag_and_drop{
  background-color: #222222;
  display: flex;
  align-items: center;
  min-height: 80px;
  margin: 20px;
  padding: 10px;
  border-radius: 30px;
}
.horizontal_text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40px;
  margin-left: 10px;
}
.file_opener{
  margin: 10px;
}

.drag_and_drop :last-child{
  margin-left: auto;
}

.light_icon{
  margin: 10px;
}

.no_display{
  display: none;
}
.success{
  color: #309053;
}

.go_to_analyze{
  margin: 20px;
  max-width: 100px;
  display: flex;
  align-self: center;
}
.mid_button{
  margin: 20px;
  max-width: 100px;
  display: flex;
  align-self: center;
}
.center{
  display: flex;
  justify-content: center;
}
.self_center{
  display: flex;
  justify-self: center;
  align-self: center;
}
.form{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #222222;
  min-height: 80px;
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
}
.form *{
  margin: 5px;
}
.fill_width{
  width: 100%;
  height: 2em;
}
/* .grow_box{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
} */
.inputs{
  display: flex;
  flex-wrap: wrap;
  min-height: 6em;
}
.row{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#selectInputText{
  margin-right: auto;
}


#fileResponse{
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
#fileInfo{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  color: #309053;
}
#errorInfo{
  color: #AB2830;
}

/* #dataframe{
  background-color: white;
}
#dataframe:first-child{
  color: red;
}
th, td {
  border: 1px solid red;
} */


nav{
  background-color: #222222;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 10px
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.60);
  cursor: default;
}
/* nav a:hover{
  background-color: #222222;
  border-radius: 20px;
} */
nav li:first-child{
  margin-right: auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(38, 115, 221, 0.14);
  cursor: pointer;
  transition: border-color 0.25s;
  color: inherit;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
   outline: 4px auto -webkit-focus-ring-color; 
} */

.input_button{
  padding: 1px;
  background-color: rgba(38, 115, 221, 0.14);
  color: rgba(255, 255, 255, 0.38);
}
.selected_input{
  padding: 1px;
  background-color: rgba(38, 115, 221, 0.3);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
